# Environment variables
.env
.env.*
.env.development

# Dependencies
node_modules/

# Logs
*.log

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/

# Backups
index_copy.js
index_copy2.js